.header{
    background: black;
    width: 100%;
    height: 160px;
    &_nav1{
        display: flex;
        align-items: center;
        width: 1306.5px;
        height: 50%;
        background: darkmagenta;
        justify-content: space-between;
        margin: 0 auto;
        &_logo-div{
            display: flex;
            align-items: center;
            column-gap: 30px;
            width: 194px;
            height: 64px;
            &_text{
                color: #c0c0c0;
            }
        }
        &_search{
            position: relative;
            display: flex;
            align-items: center;;
            height: 64px;
            background: firebrick;
            &_input{
                width: 260px;
                height: 48px;
                text-align: center;
            }
        }
    }
    &_nav2{
        width: 1306.5px;
        height: 50%;
        margin: 0 auto;
        align-items: center;
        display: flex;
        column-gap: 38px;
        &_link{
            text-decoration: none;
            color: white;
        }
    }
}
.main{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    width: 1053px;
    background: firebrick;
    height: 703px;
    margin: 0 auto;
    &_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 703px;
        width: 336.63px;
        height: 336px;
        background: darkgoldenrod;
        &_name{
            font-weight: 700
        }
    }
}